%h1 Kató Analytics
%h3.partner-name= logged_in_user.partner_organization.name

= simple_form_for @filter, url: dashboards_path, remote: true, method: :get do
  .row
    .col-md-7
      %hr

      %h2 Filter Language Pair:
      .row
        .col-md-6
          .form-group
            %label.control-label Source Language
            = select_tag :source_lang, source_language_options_for_select, class: 'form-control'

        .col-md-6
          .form-group
            %label.control-label Target Language
            = select_tag :target_lang, target_language_options_for_select, class: 'form-control'

      %hr

      %h2 Timeframe for Projects:

      .row
        .col-md-6
          .form-group
            %label.control-label From date
            %input.js-datepicker.form-control{ name: 'from_date', type: 'text', autocomplete: 'off' }

        .col-md-6
          .form-group
            %label.control-label To date
            %input.js-datepicker.form-control{ name: 'to_date', type: 'text', autocomplete: 'off' }

      %button.btn.btn-primary.top-spaced-4x.pull-right= fa_icon(:refresh, text: 'Apply all filters')

    .col-md-5
      .well.results-progress{ data: { lazy_load_url: progress_dashboards_path } }
        = spinner

  %h2 Projects

  .results-projects{ data: { lazy_load_url: projects_dashboards_path } }
    = spinner
