- warnings = @data.packages.map(&:warnings).flatten
- if warnings.include?(:no_remaining_words)
  %h4.expired-text
    = "WARNING! You have no more words in your package. Please contact #{PACKAGE_CONTACT_EMAIL} to expand your word count before submitting any other documents."
- elsif warnings.include?(:package_expired)
  %h4.expired-text
    = "WARNING! Your package has expired. Please contact #{PACKAGE_CONTACT_EMAIL} to renew your subscription in order to submit new documents."
- elsif warnings.include?(:few_remaining_words)
  %h4.warning-text
    = "WARNING! You have less than *10%* words in your package. Please contact #{PACKAGE_CONTACT_EMAIL} to expand your word count before submitting any other documents."
- elsif warnings.include?(:month_to_expire)
  %h4.warning-text
    = "WARNING! Your package is about to expire. Please contact #{PACKAGE_CONTACT_EMAIL} to renew your subscription."
