%h2
  %strong= data.package_status.member_name

%table.table
  %h3
    = "#{format_number(data.package_status.words_remaining)} words remaining"
  %tr
    %td Total word count
    %td.text-right
      = "#{format_number(data.package_status.word_count_limit)} words"
  %tr
    %td Start date
    %td.text-right
      = data.package_status.member_start_date.try(:strftime, '%d.%m.%Y')
  %tr
    %td End date
    %td.text-right
      = data.package_status.member_expire_date.try(:strftime, '%d.%m.%Y')
