%h1 Kató Dashboard

= simple_form_for @filter, url: dashboards_path, remote: true, method: :get do
  .row
    .col-md-7
      %hr

      %h2 Filter Language Pair:
      .row
        .col-md-6
          .form-group
            %label.control-label Source Language
            = select_tag :source_lang, source_language_options_for_select, class: 'form-control'

        .col-md-6
          .form-group
            %label.control-label Target Language
            = select_tag :target_lang, target_language_options_for_select, class: 'form-control'

      %button.btn.btn-primary= fa_icon(:refresh, text: 'Filter active translators')

    .col-md-5
      .well.results-capacity{ data: { lazy_load_url: capacity_dashboards_path } }
        = spinner

  .row
    .col-md-7
      %hr

      %h2 Filter Roles:
      .row
        .col-md-6
          .form-group
            %label.control-label Partner
            = select_tag :partner, partner_options_for_select, class: 'form-control'

        .col-md-6
          .form-group
            %label.control-label Project Manager
            = select_tag :project_manager, project_manager_options_for_select, class: 'form-control'

      %button.btn.btn-primary= fa_icon(:refresh, text: 'Filter Partners and Project Managers')

      %h2 Timeframe for Progress:

      .row
        .col-md-6
          .form-group
            %label.control-label From date
            %input.js-datepicker.form-control{ name: 'from_date', type: 'text', autocomplete: 'off' }

        .col-md-6
          .form-group
            %label.control-label To date
            %input.js-datepicker.form-control{ name: 'to_date', type: 'text', autocomplete: 'off' }

      %button.btn.btn-primary= fa_icon(:refresh, text: 'Filter Timeframe')

    .col-md-5
      .well.results-progress{ data: { lazy_load_url: progress_dashboards_path } }
        = spinner

  %h2 Projects

  .results-projects{ data: { lazy_load_url: projects_dashboards_path } }
    = spinner
